*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    background-color: black;
    display: flex;

}
.header_logo{
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 24px;
    margin-top: 54px;
    margin-left: 12%;
}
nav{
    margin-top: 56px;
    margin-left: 29%;

}
.topnav a{
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid transparent;
}
#myTopnav a:hover{
    border-bottom: 3px solid #fcac45;

}
.topnav .icon{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-about{
    text-align: center;
}
main .main_welcome{
    background: black;
    text-align: center;
    padding: 210px 0 410px 0;
}
main .main_welcome p{
    color: #999;
    font-size: 20px;
}
main .main_welcome h1{
    font-size: 44px;
    color: #999;
    text-transform: uppercase;
}
main .main_welcome h1 span{
    color: #fcac45;
}
main .main_welcome p b{
    color: #d5d5d5;
}
.wrapper{
    width: 76%;
    margin: 0 auto;
}
main .main-about{
    display: flex;
    padding: 100px 0 100px 0;
}
.about-right{
    margin-left: 175px;
}
.about-right h2{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.about-right p{
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}
.about-right li{
    background:url("img/point.png") 0 no-repeat;
    padding-left: 25px;
    margin-top: 10px;
}
.team_cards{
    display: flex;

}

.main_team h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 210px;
    font-size: 44px;
    font-weight: 600;
    margin-top: 80px;
}
.main_team h2{position:relative;}
.main_team h2:before{
    position:absolute;
    width:100px;
    top: 100px;
    margin-left: 60px;
    border-bottom: 5px solid #fcac45;
    content:"";
}
.main_team{
    width: 100%;
    background-color: black;
    color: white;
}
.card img{
    border-radius: 50%;
}
.card{
    padding: 0 20px 150px 40px;
    text-align: center;
}

.main_services h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 120px;
    font-size: 44px;
    font-weight: 600;
    margin-top: 80px;
}
.main_services h2{position:relative;}
.main_services h2:before{
    position:absolute;
    width:150px;
    top: 100px;
    margin-left: 80px;
    border-bottom: 5px solid #fcac45;
    content:"";
}
.main_services{
    width: 100%;
    background-color: white;
}
.main_services {
    text-align: center;
}
.services{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin: 50px 10px 80px 10px;
}
.main_clients{
    background-color: black;
    padding: 100px 0 117px 0;
    color: white;
}
.main_clients h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 120px;
    font-size: 44px;
    font-weight: 600;
}
.main_clients h2{position:relative;}
.main_clients h2:before{
    position:absolute;
    width:300px;
    top: 100px;
    margin-left: 80px;
    border-bottom: 5px solid #fcac45;
    content:"";
}
.main_clients img{
    margin-left: 30px;
}
.clients{
    text-align: center;
}
.images{
    width: 100%;
    height: 20px;
    background-color: aqua;
}
.testimonials h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 120px;
    font-size: 44px;
    font-weight: 600;

}
.testimonials h2{position:relative;}
.testimonials h2:before{
    position:absolute;
    width:300px;
    top: 100px;
    margin-left: 140px;
    border-bottom: 5px solid #fcac45;
    content:"";
}
.testimonials{
    background-color: black;
    padding: 100px 0 117px 0;
    color: white;
    text-align: center;
}
.text_testimonials{
    text-transform: uppercase;
    margin-bottom: 50px;
}
.main_clients .clients img{
    padding-top: 20px;
}

@media screen and (max-width: 1300px) {
    nav{
        margin-left: 8%;
    }
    main .main_welcome{

        padding: 170px 0 250px 0;
    }
    .about-right{
        margin-left: 70px;

    }
    .about-left{
        width: 100%;
    }

    .main-about img{
        display: inline-block;
        max-width: 100%;
        height: auto;

    }

}
@media screen and (max-width: 987px) {
    .topnav a {
        display: none;
    }

    .topnav .icon {
        display: block;
        float: right;
        font-size: 25px;
    }

    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;

    }

    header .topnav.responsive {
        height: 340px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -200px;
    }

    .topnav.responsive a {
        display: block;
    }

    main .main_welcome {

        padding: 130px 0 200px 0;
    }

    .team_cards {
        flex-wrap: wrap;
    }

    .card {
        padding-bottom: 54px;
    }

    .main_team h2 {
        margin-bottom: 150px;
    }

    .services {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .service {
        margin-bottom: 40px;
    }
}
    @media screen and (max-width: 500px) {
        main .main_welcome p{

            font-size: 12px;
            padding: 0 30px 0 30px;
        }
        main .main_welcome h1{
            font-size: 22px;

        }
        .team_cards{
            flex-direction: column;
        }
        main h2 {
            font-size: 30px !important;
        }
        main h2:before {
            position: absolute ;
            content: "" ;
            display: none ;
        }
    }
    @media screen and (max-width: 750px){
        .main-about {
            flex-direction: column;
        }
        main .main_welcome p{

             padding: 0 50px 0 50px;
         }
        .about-right{
            margin: 0 auto;
            margin-top: 50px;
            padding-left: 30px;

        }
    }
    @media screen and (max-width: 802px){
        .testimonials h2{position:relative;}
        .testimonials h2:before{
            position:absolute;
            width:300px;
            top: 150px;
            margin-left: 0;
            border-bottom: 5px solid #fcac45;
            content:"";
        }
    }
@media screen and (max-width: 650px){
    .main_clients h2{position:relative;}
    .main_clients h2:before{
        position:absolute;
        width:300px;
        top: 150px;
        margin-left: 0;
        border-bottom: 5px solid #fcac45;
        content:"";
    }

}

